# HW 0327 (1)

`ssh코드`: 1-2

아래의 문자열을 고려하자.

In [1]:
test_arr = 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== schacon@mylaptop.local'

`1`. 이 문자열에서 `index = 0,2,4,6,8,...` 에 해당하는 원소를 출력하는
코드를 작성하라. (2022-파이썬입문 중간고사 1-(2) 참고)

In [140]:
# 출력결과는 아래와 같아야 한다.

(풀이)

In [3]:
test_arr[::2]

`2`. 위 문자열을 뒤집은 문자열을 구하는 코드를 구현하라.
(2022-파이썬입문 중간고사 1-(4) 참고)

In [141]:
# 출력결과는 아래와 같아야 한다.

(풀이)

In [4]:
test_arr[::-1]

------------------------------------------------------------------------

`파이썬 프로그래밍 시험성적`: 3-4

아래와 같은 dictionary가 있다고 가정하자.

In [5]:
dct={'202212377': {'att': 65, 'rep': 45, 'mid': 0, 'fin': 10},
     '202212473': {'att': 95, 'rep': 30, 'mid': 60, 'fin': 10},
     '202212310': {'att': 65, 'rep': 85, 'mid': 15, 'fin': 20},
     '202212460': {'att': 55, 'rep': 35, 'mid': 35, 'fin': 5},
     '202212320': {'att': 80, 'rep': 60, 'mid': 55, 'fin': 70},
     '202212329': {'att': 75, 'rep': 40, 'mid': 75, 'fin': 85},
     '202212408': {'att': 65, 'rep': 70, 'mid': 60, 'fin': 75},
     '202212319': {'att': 60, 'rep': 25, 'mid': 20, 'fin': 35},
     '202212348': {'att': 95, 'rep': 55, 'mid': 65, 'fin': 90},
     '202212306': {'att': 90, 'rep': 25, 'mid': 95, 'fin': 50},
     '202212308': {'att': 55, 'rep': 45, 'mid': 75, 'fin': 30},
     '202212366': {'att': 95, 'rep': 60, 'mid': 25, 'fin': 55},
     '202212367': {'att': 95, 'rep': 35, 'mid': 0, 'fin': 25},
     '202212461': {'att': 50, 'rep': 55, 'mid': 90, 'fin': 45}}

여기에서 ‘202212377’ 등은 학번을, att는 출석점수, rep는 레포트점수,
mid는 중간고사 점수, fin은 기말고사 점수를 의미한다.

`3`. 학생들의 학번을 아래와 같은 방식으로 출력하는 코드를 작성하라.

In [165]:
# 출력예시

(풀이)

In [8]:
[k[:4]+'-'+k[4:] for k in dct]

`4`. 출석점수가 70점 이상인(`>=70`) 학생들의 학번을 출력하는 코드를
작성하라. (2022-파이썬입문 중간고사 2-(3) 참고)

In [166]:
# 출력예시

(풀이)

In [10]:
[k[:4]+'-'+k[4:] for k,v in dct.items() if v['att']>70]

------------------------------------------------------------------------

`Oxford-III`: 5–10 //
[reference](https://www.robots.ox.ac.uk/~vgg/data/pets/)

아래는 이미지 파일명들이 저장된 string을 불러오는 코드이다.

In [11]:
import requests
url = 'https://raw.githubusercontent.com/guebin/PP2023/main/posts/01_PythonBasic/Oxford-IIIT.txt'
txt = requests.get(url).content.decode()

txt의 출력 일부를 나타내면 아래와 같다.

``` default
'Abyssinian_1.jpg\nAbyssinian_10.jpg\nAbyssinian_100.jpg\nAbyssinian_100.mat\nAbyssinian_101.jpg\nAbyssinian_101.mat\nAbyssinian_102.jpg\nAbyssinian_102.mat\nAbyssinian_103.jpg\nAbyssinian_104.jpg\nAbyssinian_105.jpg\nAbyssinian_106.jpg\nAbyssinian_107.jpg\nAbyssinian_108.jpg\nAbyssinian_109.jpg\nAbyssinian_11.jpg\nAbyssinian_110.jpg\nAbyssinian_111.jpg\nAbyssinian_112.jpg\nAbyssinian_113.jpg\nAbyssinian_114.jpg\nAbyssinian_115.jpg\nAbyssinian_116.jpg\nAbyssinian_117.jpg\nAbyssinian_118.jpg\nAbyssinian_119.jpg\nAbyssinian_12.jpg\nAbyssinian_120.jpg\nAbyssinian_121.jpg\nAbyssinian_122.jpg\nAbyssinian_123.jpg\nAbyssinian_124.jpg\nAbyssinian_125.jpg\nAbyssinian_126.jpg\nAbyssinian_127.jpg\nAbyssinian_128.jpg\nAbyssinian_129.jpg\nAbyssinian_13.jpg\nAbyssinian_130.jpg\nAbyssinian_131.jpg\nAbyssinian_132.jpg\n ....... 
```

`5`. 각 파일명은 `\n`으로 구분되어있다. 위의 스트링을 분해하여 아래와
같은 리스트를 생성하고 `fname_list`에 저장하라.

``` python
# fname_list 의 출력결과는 아래와 같아야 한다. 
['Abyssinian_1.jpg','Abyssinian_10.jpg', ... ,'yorkshire_terrier_98.jpg', 'yorkshire_terrier_99.jpg']
```

(풀이)

In [19]:
fname_list = txt.split('\n')
fname_list[:10]

`6`. 각 이미지파일명은 아래와 같은 규칙으로 저장되어 있다.

-   파일명의 첫글자가 대문자이면 고양이를 의미하고 첫글자가 소문자이면
    강아지를 의미한다.
-   `_` 이전의 영문명은 고양이 혹은 강아지의 종(breed)을 의미한다.

이미지 파일명이 입력으로 오면 강아지인지 고양이인지 판단하여 ‘cat’ or
’dog’를 리턴하는 함수 `f`를 구현하라.

(함수사용예시)

In [56]:
f('yorkshire_terrier_99.jpg')

In [58]:
f('Abyssinian_1.jpg')

(풀이)

In [21]:
def f(fname): 
    return 'cat' if fname[0].isupper() else 'dog'

In [23]:
f('yorkshire_terrier_99.jpg'), f('Abyssinian_1.jpg')

`7`. 5의 결과로 나온 `fname_list`를 입력으로 하고 리스트의 각 원소가
고양이를 의미하는 그림인지 강아지를 의미하는 그림인지 나타내는 리스트를
만들어라.

``` python
## 입력예시 
['Abyssinian_1.jpg','Abyssinian_10.jpg',...,'yorkshire_terrier_98.jpg', 'yorkshire_terrier_99.jpg']

## 출력예시
['cat', 'cat', ... , 'dog', 'dog']
```

(풀이)

In [25]:
result = [f(l) for l in fname_list]
result[:10]

`8`. 강아지 그림과 고양이 그림이 각각 몇 장씩 포함되어 있는지 파악하는
코드를 구현하라.

(풀이)

In [29]:
sum([s=='cat' for s in result]) # 고양이

In [30]:
sum([s=='dog' for s in result]) # 강아지

`9`. 포메라니안 종의 그림이 몇장있는지 파악하는 코드를 구현하라.

**hint:** 포메라니안 그림은 파일명에 ‘pomeranian’ 을 포함한다.

(풀이)

In [33]:
sum(['pomeranian'  in s for s in fname_list])

`10`. 아래의 `dct`는 포메라니안과 사모예드가 각각 몇장씩 포함되어있는지
정리하기 위해 임시로 정리한 dictionary이다. 각 종이 몇 장씩
포함되어있는지 구하여 `dct`를 수정하라.

In [34]:
dct = {'pomeranian':0, 'samoyed':0} 
dct

예를들어 포메라니안과 사모에예드의 그림이 각각 200장씩 있다면 아래와
같이 딕셔너리를 수정해야한다.

In [92]:
{'pomeranian':200, 'samoyed':200}

(풀이)

In [35]:
dct['pomeranian'] = sum(['pomeranian'  in s for s in fname_list])
dct['samoyed'] = sum(['samoyed'  in s for s in fname_list])
dct

# HW 0327 (2)

`1`. 아래와 같은 맵핑을 고려하자.

| 문자 | 숫자 |
|:----:|:----:|
|  a   |  1   |
|  b   |  0   |

이를 딕셔너리로 표현하면 아래와 같다.

In [36]:
dct = {'a':0, 'b':1}

위 규칙에 따라서 아래의 리스트의 원소를 문자로 각각 변환하라.

In [37]:
lst = [1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1]

``` python
# 출력은 아래와 같아야 한다. 
['b', 'a', 'b', 'a', 'b', 'a', 'b', 'b', 'b', 'b', 'a', 'a', 'b', 'a', 'b']
```

(풀이)

In [39]:
[k for l in lst for k,v in dct.items() if v==l]

`2`. 아래와 같은 맵핑을 고려하자.

|     월     |   의미   |
|:----------:|:--------:|
|    1,2     | 겨울방학 |
|  3,4,5,6   |  1학기   |
|    7,8     | 여름방학 |
| 9,10,11,12 |  2학기   |

이러한 규칙에 맞게 아래의 리스트를 적절한 문자열로 변환하라.

In [41]:
month = [1,2,2,3,4,5,6,7,8,9,9,10,11,12]

``` python
## 출력은 아래와 같아야 한다. 
['겨울방학', '겨울방학', '겨울방학', '1학기', '1학기', '1학기', '1학기', '여름방학', '여름방학', '2학기', '2학기', '2학기', '2학기', '2학기']
```

(풀이)

In [42]:
dct = {'겨울방학':[1,2], '1학기':[3,4,5,6], '여름방학':[7,8], '2학기':[9,10,11,12]} 
[k for m in month for k,v in dct.items() if m in v]

`합성변환` 3-5.

아래와 같은 맵핑을 고려하자.

(규칙1)

|   문자   | 숫자 |
|:--------:|:----:|
|  바나나  |  0   |
|   사과   |  1   |
| 오토바이 |  2   |
|  자동차  |  3   |
|  자전거  |  4   |

(규칙2)

|  아이템  | 카테고리 |
|:--------:|:--------:|
|  바나나  |   과일   |
|   사과   |   과일   |
| 오토바이 |   탈것   |
|  자동차  |   탈것   |
|  자전거  |   탈것   |

각각의 규칙을 나타내는 딕셔너리는 아래와 같이 선언되어있다고 하자.

In [44]:
dct1 = {'바나나':0, '사과':1, '오토바이':2, '자동차':3, '자전거':4} 
dct2 = {'과일':['바나나','사과'], '탈것':['오토바이','자동차','자전거']}

`3`. 규칙1를 이용하여 아래와 같은 리스트를 변환하는 함수를 구현하고 그
함수를 `f`라 선언하라.

``` python
# 입력 
[0,1,0,1,4]

# 출력 
['바나나', '사과', '바나나', '사과', '자전거']
```

(사용예시)

In [202]:
f([0,1,0,1,4])

(풀이)

In [47]:
def f(lst):
    return [k for l in lst for k,v in dct1.items() if v == l]

In [48]:
f([0,1,0,1,4])

`4`. 규칙2를 이용하여 아래와 같이 리스트를 변환하는 함수를 구현하고 그
함수를 `g`라고 선언하라.

``` python
# 입력 
['바나나','바나나','바나나','자동차']

# 출력 
['과일','과일','과일','탈것']
```

(사용예시)

In [201]:
g(['바나나','바나나','바나나','자동차'])

(풀이)

In [52]:
dct2

In [53]:
def g(lst):
    return [k for l in lst for k,v in dct2.items() if l in v]

In [54]:
g(['바나나','바나나','바나나','자동차'])

`5`. 규칙1-2를 이용하여 아래와 같은 숫자로 이루어진 입력을 ‘과일’,
‘탈것’ 중 하나로 바꾸는 코드를 구현하라.

``` python
# 입력 
[0,1,0,1,3,4,2,2,3,4,1,0]

# 출력 
['과일', '과일', '과일', '과일', '탈것', '탈것', '탈것', '탈것', '탈것', '탈것', '과일', '과일']
```

**hint** $g(f(x))$ 를 이용하라.

(풀이)

In [55]:
g(f([0,1,0,1,3,4,2,2,3,4,1,0]))

# HW

`Oxford-III`: 1–5 //
[reference](https://www.robots.ox.ac.uk/~vgg/data/pets/)

아래는 이미지 파일명들이 저장된 string을 불러오는 코드이다.

In [1]:
import requests
url = 'https://raw.githubusercontent.com/guebin/PP2023/main/posts/01_PythonBasic/Oxford-IIIT.txt'
txt = requests.get(url).content.decode()

이미지파일이 저장된 형식은 아래와 같다.

    Abyssinian_1.jpg
    British_Shorthair_129.jpg

**note**: `British_Shorthair`와 같이 종 이름 사이에 `_`가 들어있는
경우도 있음.

`1`. txt를 적당히 변환하여 아래와 같은 list를 만들어라.

In [50]:
lst[:10],lst[810:820]

**hint1**

In [89]:
'Abyssinian_1.jpg\nAbyssinian_10.jpg'.split('\n')

**hint2**

In [90]:
''.join(['British', 'Shorthair'])

In [91]:
''.join(['Abyssinian'])

(풀이1)

In [65]:
lst = [''.join(filename.split('_')[:-1]) for filename in txt.split('\n')]

(풀이2)

In [63]:
def f(filename): 
    *name, _ = filename.split('_')
    return ''.join(name)
lst = [f(filename) for filename in txt.split('\n')]

(확인)

In [67]:
lst[:10],lst[810:820]

`2`. 그림파일에는 총 몇가지 종류의 고양이와, 몇가지 종류의 강아지가
있는가?

**note:** 고양이사진은 대문자로 시작하고, 강아지 사진은 소문자로
시작한다.

**note**: 12종의 고양이, 25종의 강아지가 있음

(풀이)

In [90]:
[s[0].isupper() for s in set(lst)].count(True) # 고양이 12

In [91]:
[s[0].isupper() for s in set(lst)].count(False) # 강아지 25

`3`. 아래는 1번의 결과로 얻어진 lst의 첫 10개의 원소와 마지막 10개의
원소이다.

In [141]:
lst[:10], lst[-10:]

적당한 변환을 정의하여 lst를 아래와 같이 바꾸어라.

In [142]:
lst2[:10], lst2[-10:] # 바뀐 lst

(풀이1)

In [111]:
dct = {'cat':[s for s in set(lst) if s[0].isupper()], 'dog': [s for s in set(lst) if not s[0].isupper()]}
lst2 = [k for l in lst for k,v in dct.items() if l in v]

(풀이2)

In [112]:
def f(fname): 
    return 'cat' if fname[0].isupper() else 'dog'
lst2= [f(fname) for fname in lst]

`4`. txt에는 강아지사진과 고양이사진이 모두 몇장씩 들어있는가?

In [145]:
## 출력예시

(풀이)

In [114]:
{k:lst2.count(k) for k in ['dog','cat']}

`5`. txt에 각 종별로 몇장의 사진이 있는지 조사하라.

In [150]:
## 출력예시

(풀이)

In [117]:
{k:lst.count(k) for k in set(lst)}