---
title: "Lesson 07: pandas 공부 1단계 ~ 3단계"
author: "최규빈"
date: "07/24/2023"
---

<a href="https://colab.research.google.com/github/guebin/PP2023SUM/blob/main/posts/Day1/03_Pandas/ls07.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# imports

In [2]:
import numpy as np
import pandas as pd

# pandas 공부 1단계: 선언 및 기본정보

## 데이터프레임 선언

`-` 방법1: dictionary에서 만든다.

In [20]:
pd.DataFrame({'att':[30,40,50],'mid':[50,60,70]})

   att  mid
0   30   50
1   40   60
2   50   70

In [21]:
pd.DataFrame({'att':(30,40,50),'mid':(50,60,70)})

   att  mid
0   30   50
1   40   60
2   50   70

In [22]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법: 2차원 ndarray에서 만든다.

In [23]:
np.arange(2*3).reshape(2,3)

array([[0, 1, 2],
       [3, 4, 5]])

In [24]:
pd.DataFrame(np.arange(2*3).reshape(2,3))

   0  1  2
0  0  1  2
1  3  4  5

## 열의 이름 부여

`-` 방법1: 딕셔너리를 통하여 만들면 딕셔너리의 key가 자동으로 열의 이름이 된다.

In [25]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법2: pd.DataFrame()의 옵션에 columns를 이용

In [26]:
pd.DataFrame(np.arange(2*3).reshape(2,3),columns=['X1','X2','X3'])

   X1  X2  X3
0   0   1   2
1   3   4   5

`-` 방법3: df.columns에 원하는 열이름을 덮어씀 (1)

In [27]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [28]:
df.columns = ['X1','X2','X3']
df

   X1  X2  X3
0   0   1   2
1   3   4   5

`-` 방법4: df.columns에 원하는 열이름을 덮어씀 (2)

In [29]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [30]:
df.columns = pd.Index(['X1','X2','X3'])

In [31]:
df

   X1  X2  X3
0   0   1   2
1   3   4   5

방법4가 방법3의 방식보다 컴퓨터가 이해하기 좋다. (= 불필요한 에러 혹은 경고메시지를 방지할 수 있다)

## 행의 이름 부여

`-` 방법1: 중첩 dict이면 nested dic의 key가 알아서 행의 이름으로 된다.

In [32]:
pd.DataFrame({'att':{'guebin':30, 'iu':40, 'hynn':50} , 'mid':{'guebin':5, 'iu':45, 'hynn':90}})

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법2: pd.DataFrame()의 index 옵션 이용

In [33]:
pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]},index=['guebin','iu','hynn'])

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법3: df.index에 덮어씌움

In [34]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [35]:
df.index = pd.Index(['guebin','iu','hynn'])
#df.index = ['guebin','iu','hynn'] <- 이것도 실행가능하기는함 
df

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법4: df.set_index() 를 이용하여 덮어씌운다

In [36]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [37]:
df.set_index(pd.Index(['guebin','iu','hynn']))

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

In [38]:
df.set_index(['guebin','iu','hynn'])

KeyError: "None of ['guebin', 'iu', 'hynn'] are in the columns"

In [39]:
df.set_index([['guebin','iu','hynn']]) # 꺽쇠를 한번 더 넣어주면 에러를 피할수 있다.

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

- 그러나 이런 코드를 권장하지 않음

## 자료형, len, shape, for문의 반복변수

In [40]:
df = pd.DataFrame({'att':[30,40,50],'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

`-` type

In [41]:
type(df)

pandas.core.frame.DataFrame

`-` len

In [42]:
len(df) # row의 갯수

3

`-` shape

In [43]:
df.shape

(3, 2)

`-` for문의 반복변수

In [44]:
for k in df:
    print(k) # 딕셔너리같죠

att
mid

In [45]:
for k in {'att':[30,40,50],'mid':[5,45,90]}: 
    print(k)

att
mid

**참고:** df는 진짜 딕셔너리 느낌 강해요

In [46]:
df.keys()

Index(['att', 'mid'], dtype='object')

In [47]:
for k,v in df.items():
    print(k)

att
mid

# pandas 공부 2단계: 행과 열의 선택

`-` 데이터

In [275]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [325]:
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df.head()

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

In [326]:
df2 = pd.DataFrame({'id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df2.head()

           id  att  rep  mid  fin
0  2022-12380   65   55   50   40
1  2022-12370   95  100   50   80
2  2022-12363   65   90   60   30
3  2022-12488   55   80   75   80
4  2022-12312   80   30   30  100

## 열의 선택

`-` 방법1: `df.?` + str

In [345]:
# df.att

`-` 방법2: `df[?]` + str, [str,str]

In [349]:
# df['att'] # str 
# df[['att']] # [str]
# df[['att','rep']] # [str,str]

`-` 방법3: `df.iloc[:,?]` + int, int:int, [int,int], [bool,bool], range

In [350]:
# df.iloc[:,0] # int
# df.iloc[:,-2:] # int:int - 슬라이싱
# df.iloc[:,1::2] # int:int - 스트라이딩
# df.iloc[:,[0]] # [int]
# df.iloc[:,[0,1]] # [int,int]
# df.iloc[:,[True,True,False,False]] # bool의 list 
# df.iloc[:,range(2)] # range

`-` 방법4: `df.loc[:,?]` + str, 'str:str', [str,str], [bool,bool]

In [357]:
# df.loc[:,'att'] # str
# df.loc[:,'rep':'mid'] # 'str':'str' -- 칼럼이름으로 슬라이싱 **
# df.loc[:,'rep'::2] # 'str':'str' -- 칼럼이름으로 스트라이딩 ** 
# df.loc[:,['att']] # [str]
# df.loc[:,['att','rep']] # [str,str]
# df.loc[:,[True,False,False,True]] # bool의 list

## 행의 선택

`-` 방법1: `df[]` + int:int, str:str, [bool,bool], pd.Series([bool,bool]) -- $(\star\star\star\star\star)$

In [379]:
# df[:2] # int:int -- 슬라이싱 // df.iloc[:2,:], df.iloc[:2] 와 같음
# df[0:5:2] # int:int -- 스트라이딩 
# df[:'2022-12312'] # str:str -- 슬라이싱 // df.loc[:'2022-12312'], df.loc[:'2022-12312',:] 와 같음
# df[:'2022-12312':2] # str:str -- 스트라이딩
# df[list(df.att < 70)] # [bool,bool]
# df[df.att < 70] # pd.Series([bool,bool])

`-` 방법2: `df.iloc[]`, `df.iloc[,:]` + int, int:int, [int,int], [bool,bool], range

In [381]:
# df.iloc[0] # int 
# df.iloc[-2:] # int:int -- 슬라이싱
# df.iloc[1::2] # int:int -- 스트라이딩
# df.iloc[[0]] # [int]
# df.iloc[[0,1]] # [int,int]
# df.iloc[[True]+[False]*19] # [bool,bool]
# df.iloc[range(2)] # range

In [384]:
# df.iloc[0,:] # int 
# df.iloc[-2:,:] # int:int -- 슬라이싱
# df.iloc[1::2,:] # int:int -- 스트라이딩
# df.iloc[[0],:] # [int]
# df.iloc[[0,1],:] # [int,int]
# df.iloc[[True]+[False]*19,:] # [bool,bool]
# df.iloc[range(2),:] # range

`-` 방법3: `df.loc[]`, `df.loc[,:]` + int, str, int:int, str:str, [int,int], [str,str], [bool,bool], pd.Series([bool,bool])

|type of indexer|target|`.`| `[]` | `.iloc` | `.loc`|comment|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|int|row|X|X|O|$\Delta$||
|int|col|X|X|O|X||
|str|row|X|X|X|O||
|str|col|O|O|X|O||
|int:int|row|X|O|O|$\Delta$||
|int:int|col|X|X|O|X||
|str:str|row|X|O|X|O||
|str:str|col|X|X|X|O||
|[int,int]|row|X|X|O|$\Delta$||
|[int,int]|col|X|X|O|X||
|[str,str]|row|X|X|X|O||
|[str,str]|col|X|O|X|O||
|[bool,bool]|row|X|O|O|O||
|[bool,bool]|col|X|X|O|O||
|pd.Series([bool,bool])|row|X|O|X|O||

In [414]:
df.loc[[True]+[False]*19]

            att  rep  mid  fin
2022-12380   65   55   50   40

In [415]:
# df2.loc[0] # int 
# df.loc['2022-12380'] # str 
# df2.loc[:2] # int:int 
# df.loc[:'2022-12363'] # str:str 
# df2.loc[[0,1]] # [int,int]
# df.loc[['2022-12380','2022-12370']] # [str,str]
# df.loc[[True]+[False]*19] # [bool,bool]
# df.loc[df.att>70] # pd.Series([bool,bool])

In [416]:
# df2.loc[0,:] # int 
# df.loc['2022-12380',:] # str 
# df2.loc[:2,:] # int:int 
# df.loc[:'2022-12363',:] # str:str 
# df2.loc[[0,1],:] # [int,int]
# df.loc[['2022-12380','2022-12370'],:] # [str,str]
# df.loc[[True]+[False]*19,:] # [bool,bool]
# df.loc[df.att>70,:] # pd.Series([bool,bool])

## 요약

`-` 알아두면 좋은 규칙 

- `.iloc[]` 와 `.iloc[,:]`는 완전히 동등하다. 
- `.loc[]` 와 `.loc[,:]`는 완전히 동등하다.

`-` 정리

## 제 스타일

`-` **가장 안전한 코드**

In [285]:
# df.loc[:,:]

`-` 상황1: 하나의 col을 뽑으려 할때 좋은 코드

In [286]:
# df.att # 최애 
# df['att'] # 차애 
# df[['att']] # 차애의 대안

`-` 상황2: row 슬라이싱을 할때 좋은 코드 $(\star\star\star)$

In [303]:
# df[:5] # 최애, df.iloc[:5]와 같다. 
# df[:'2022-12312'] # 차애, df.loc[:'2022-12312'] 와 같다

`-` 상황3: 조건에 맞는 row를 뽑을때 좋은 코드

In [304]:
# df[df.att<60] # 최애
# df[[att<60 for att in df.att]] # 차애

`-` 상황4: 하나의 row를 뽑으려 할때 좋은 코드

In [305]:
# df.loc[0] # 최애
# df.iloc[0] # 최애 
# df.loc[[0]] # 최애의 대안
# df.iloc[[0]] # 최애의 대안

`-` 상황5: (row,col)을 뽑으려 할때 좋은 코드

In [417]:
# 방법1: pd.Series를 뽑고 -> 인덱스로접근
# df.att[0]
# df['att'][0]

# 방법2: iloc, loc 으로 한번에 뽑기
# df.iloc[0,0]
# df.loc[0,'att']

***위의 상황이외에는 `df.loc[:,:]`를 사용하는것이 유리하다***

`-` 상황6: column 슬라이싱을 할때

In [223]:
# df.loc[:,'att':'mid'] # 끝점포함

`-` 상황7: row + column 슬라이싱을 하는 가장 좋은 코드

In [224]:
# df.loc[0:5,'att':'mid']

`-` 상황8: 조건에 맞는 col을 뽑기에 가장 좋은 코드

In [226]:
# df.loc[:,[len(col_name)>2 for col_name in df.columns]]

`-` 상황9: 조건에 맞는 row, col을 뽑기에 가장 좋은 코드

In [242]:
# df.loc[df.att<60,[len(col_name)>2 for col_name in df.columns]]

## 제 스타일 X

`-` 제가 안쓰는 코드1

In [245]:
df[:1]

           id  att  rep  mid  fin
0  2022-12380   65   55   50   40

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [302]:
df[0]

KeyError: 0

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [418]:
df.iloc[list(df['att']<80),:]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12318   55   75   35   25
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35

이러면 마치 아래도 동작할 것 같잖아..

In [419]:
df.iloc[df['att']<80,:]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

## 열의선택2 (까다로워)

In [433]:
df=pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv')
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

**Quiz** 열의 이름을 출력하여 보자.

### EX1: color ~ num_voted_user 를 뽑고 + aspect_ratio 도 추가적으로 뽑고싶다.

`-` df.loc[:,:] 으로 처리하기 까다로움

In [434]:
df.loc[:,['color':'num_voted_users','aspect_ratio']]

SyntaxError: invalid syntax (1210972629.py, line 1)

`-` (팁) 복잡한 조건은 iloc으로 쓰는게 편할때가 있다. $\to$ 그런데 `df.columns` 변수들이 몇번인지 알아보기 힘듬 $\to$ 아래와 같이 하면 열의 이름을 인덱스와 함께 출력할 수 있음

In [435]:
pd.Series(df.columns)

0                         color
1                 director_name
2        num_critic_for_reviews
3                      duration
4       director_facebook_likes
5        actor_3_facebook_likes
6                  actor_2_name
7        actor_1_facebook_likes
8                         gross
9                        genres
10                 actor_1_name
11                  movie_title
12              num_voted_users
13    cast_total_facebook_likes
14                 actor_3_name
15         facenumber_in_poster
16                plot_keywords
17              movie_imdb_link
18         num_user_for_reviews
19                     language
20                      country
21               content_rating
22                       budget
23                   title_year
24       actor_2_facebook_likes
25                   imdb_score
26                 aspect_ratio
27         movie_facebook_likes
dtype: object

In [436]:
list(range(13))+[26]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 26]

In [437]:
df.iloc[:,list(range(13))+[26]]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,aspect_ratio
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,1.78
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,2.35
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,2.35
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2.35
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,NaN
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,16.00
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,NaN
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,2.35
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,1.85

### EX2: actor라는 단어가 포함된 column 선택

In [9]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [442]:
df.loc[:,['actor' in col_name for col_name in df]]

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0
...,...,...,...,...,...,...
4911,318.0,Daphne Zuniga,637.0,Eric Mabius,Crystal Lowe,470.0
4912,319.0,Valorie Curry,841.0,Natalie Zea,Sam Underwood,593.0
4913,0.0,Maxwell Moody,0.0,Eva Boehnke,David Chandler,0.0
4914,489.0,Daniel Henney,946.0,Alan Ruck,Eliza Coupe,719.0
4915,16.0,Brian Herzlinger,86.0,John August,Jon Gunn,23.0

### EX3: s로 끝나는 column 선택

In [9]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [443]:
df.loc[:,[col_name[-1]=='s' for col_name in df]]

,num_critic_for_reviews,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,num_voted_users,cast_total_facebook_likes,plot_keywords,num_user_for_reviews,actor_2_facebook_likes,movie_facebook_likes
0,723.0,0.0,855.0,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,886204,4834,avatar|future|marine|native|paraplegic,3054.0,936.0,33000
1,302.0,563.0,1000.0,40000.0,309404152.0,Action|Adventure|Fantasy,471220,48350,goddess|marriage ceremony|marriage proposal|pi...,1238.0,5000.0,0
2,602.0,0.0,161.0,11000.0,200074175.0,Action|Adventure|Thriller,275868,11700,bomb|espionage|sequel|spy|terrorist,994.0,393.0,85000
3,813.0,22000.0,23000.0,27000.0,448130642.0,Action|Thriller,1144337,106759,deception|imprisonment|lawlessness|police offi...,2701.0,23000.0,164000
4,NaN,131.0,NaN,131.0,NaN,Documentary,8,143,NaN,NaN,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4911,1.0,2.0,318.0,637.0,NaN,Comedy|Drama,629,2283,fraud|postal worker|prison|theft|trial,6.0,470.0,84
4912,43.0,NaN,319.0,841.0,NaN,Crime|Drama|Mystery|Thriller,73839,1753,cult|fbi|hideout|prison escape|serial killer,359.0,593.0,32000
4913,13.0,0.0,0.0,0.0,NaN,Drama|Horror|Thriller,38,0,NaN,3.0,0.0,16
4914,14.0,0.0,489.0,946.0,10443.0,Comedy|Drama|Romance,1255,2386,NaN,9.0,719.0,660
4915,43.0,16.0,16.0,86.0,85222.0,Documentary,4285,163,actress name in title|crush|date|four word tit...,84.0,23.0,456

### EX4: c 혹은 d로 시작하는 column 선택

In [9]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [444]:
df.loc[:,[col_name[0]=='c' or col_name[0]=='d' for col_name in df]]

,color,director_name,duration,director_facebook_likes,cast_total_facebook_likes,country,content_rating
0,Color,James Cameron,178.0,0.0,4834,USA,PG-13
1,Color,Gore Verbinski,169.0,563.0,48350,USA,PG-13
2,Color,Sam Mendes,148.0,0.0,11700,UK,PG-13
3,Color,Christopher Nolan,164.0,22000.0,106759,USA,PG-13
4,NaN,Doug Walker,NaN,131.0,143,NaN,NaN
...,...,...,...,...,...,...,...
4911,Color,Scott Smith,87.0,2.0,2283,Canada,NaN
4912,Color,NaN,43.0,NaN,1753,USA,TV-14
4913,Color,Benjamin Roberds,76.0,0.0,0,USA,NaN
4914,Color,Daniel Hsia,100.0,0.0,2386,USA,PG-13
4915,Color,Jon Gunn,90.0,16.0,163,USA,PG

# pandas 공부 3단계: 필터링

In [420]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df.head()

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

## query ($\star$)

`-` 예제1: att==90 and fin>30

In [423]:
df.query('att ==90 and fin >30')

            att  rep  mid  fin
2022-12354   90   90   80   90

`-` 예제2: att<rep and mid<fin

In [424]:
df.query('att<rep and mid<fin')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12488   55   80   75   80
2022-12458   50   55   15   85

`-` 예제3: att < rep < 80

In [425]:
df.query('att<rep<80')

            att  rep  mid  fin
2022-12318   55   75   35   25
2022-12458   50   55   15   85

`-` 예제4: 50 < att <= 90 and mid < fin

In [426]:
df.query('50<att<=90 and mid<fin')

            att  rep  mid  fin
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12463   65   45   45   90
2022-12452   65   55   15   45
2022-12354   90   90   80   90

`-` 예제5: (mid+fin)/2 >=60

In [427]:
df.query('(mid+fin)/2>=60')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12463   65   45   45   90
2022-12396   95   30   30   95
2022-12354   90   90   80   90

`-` 예제6: att > mean(att)

In [428]:
_mean = df['att'].mean() 
_mean

73.0

In [429]:
df.query('att> @_mean')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12396   95   30   30   95
2022-12354   90   90   80   90

# Quiz

`(1)` 아래와 같은 데이터 프레임을 선언하라.

In [ ]:
from IPython.core.display import HTML 
HTML('<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>A</th>\n      <th>B</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>-2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>-3</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>-4</td>\n    </tr>\n  </tbody>\n</table>')

`(2)` Column을 이름을 X1, X2로 변경하라. 출력결과는 아래와 같아야 한다.

In [ ]:
from IPython.core.display import HTML 
HTML('<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>X1</th>\n      <th>X2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>-2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>-3</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>-4</td>\n    </tr>\n  </tbody>\n</table>')

`(3)-(5)` 아래와 같은 자료를 고려하자.

In [ ]:
df = pd.DataFrame(np.random.normal(size=(100,5)),columns=list('ABCDE'))
df

           A         B         C         D         E
0   1.946562 -1.638595  0.904979 -0.227882 -0.799842
1   0.170100 -0.838227  0.022166  0.303538 -1.054184
2   0.499706 -1.883968 -1.581990 -0.345108  0.203482
3  -0.687691  0.859835 -1.117939 -1.022273  0.537917
4   0.833156  0.613239  0.852952  0.144647 -1.798335
..       ...       ...       ...       ...       ...
95 -1.145590  0.076915  0.647415  0.769156  1.130535
96  0.163508 -0.800183  1.426644 -1.124311 -0.012442
97  0.254376  0.535819 -0.316038 -0.638961  1.517565
98 -0.563598  0.338629  1.036945 -1.321897 -0.335859
99 -1.252642 -0.837554  0.741092 -0.085702 -0.372646

[100 rows x 5 columns]

`(3)` B,D열을 선택하라.

`(4)` 마지막 10개의 row를 출력하라.

`(5)` A,B 열의 처음 10개의 row를 출력하라.

`(6)-(9)` 아래와 같은 자료를 고려하자.

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv')
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

`(6)` 이 데이터프레임에는 몇개의 컬럼이 있는지 count하라.

**hint**: df.columns의 len을 조사

`(7)` 데이터프레임의 컬럼이름이 c혹은 d로 시작하는 열은 몇개 있는지 세어보라.

**hint:** 아래의 코드를 관찰

In [ ]:
lst = ['color', 'director_name', 'num_critic_for_reviews', 'duration'] 
[l for l in lst if l[0]=='c' or l[0]=='d']

['color', 'director_name', 'duration']

`(8)` 이 데이터프레임에서 'actor'라는 단어가 포함된 열의 이름이 몇개있는지 세어보라.

`(9)` 이 데이터프레임에서 '_' 가 포함된 열을 출력하라.